.container-fluid
  .row
    .col-lg-12.text-center
      h1.center {{$ctrl.city.name}}, {{$ctrl.city.country}} {{$ctrl.city.video}}
      p 12:00am
  .row
    .col-lg-12
      iframe(width='100%' height='100%' style='height: 100vh' ng-src='{{$ctrl.city.video}}' frameborder='0' allowfullscreen alt='video')

//- .container
//-   .row
//-     .col-lg-12
//-       h1.page-header Features:
//-       ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in $ctrl.awesomeThings')
//-         li
//-           a(href='#', uib-tooltip='{{thing.info}}')
//-             | {{thing.name}}
